/*@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,700,400italic,700italic);*/



body {
	padding-top: 80px;
}

.messages {
	height: 50px;
}

.clickable {
	cursor: pointer;
}

.websymbol {
	font-family: 'WebSymbolsRegular' sans-serif;
}

div.card-sheet {
	position: relative;
}

div.card {
	font-size: 12pt;
	height: 88mm;
	width: 63mm;
	position: relative;
	float:left;
	page-break-inside: avoid;
}

.ui-draggable-dragging {
	z-index: 2000;
	opacity: 0.6;
	-webkit-transform: scale(.5) rotate(5deg);
	-moz-transform: scale(.5) rotate(5deg);
	-ms-transform: scale(.5) rotate(5deg);
	transform: scale(.5) rotate(5deg);
}

div.card .contents {
	position: absolute;
	border-radius: 3mm;
	border: 0.75mm solid black;
	box-shadow:	2px 2px 5px #333;
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	transition: all .15s ease-out;
	background-color: white;
}

div.card.display .contents {
	top: 2mm;
	left: 2mm;
	height: 80mm;
	width: 56mm;
	font-family: "Droid Serif", serif;
}

div.card.edit .contents {
	height: 126mm;
	width: 88.5mm;
	top: -22mm;
	left: -16mm;
}

div.card.display .hide {
	-webkit-transform: opacity(0.0);
}

div.card.edit .contents {
	padding: 3mm;
	-webkit-transform: scale(.65);
	-moz-transform: scale(.65);
	-ms-transform: scale(.65);
	transform: scale(.65);
}

div.edit.show .contents {
	z-index: 500;
}
div.card.edit.scale .contents {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}

div.edit label {
	width: 100px;
}

div.edit .input {
	margin-left: 110px;
}


div.edit .toolbar {
	position: absolute;
	bottom: 10px
}

/*
div.edit input[type="checkbox"], div.edit input[type="radio"] {
	width: 14px;
	height: 14px;
	margin: 5px 0;
}
*/

div.contents .lock {
	position: absolute;
	right: 2.5mm;
	top: 5mm;
	font-size: 10px;
}

div.card.editable:hover .contents {
	box-shadow:	0px 0px 6px #f8c466;
}

.drophover .contents {
	box-shadow:	0px 0px 18px #f8c466 !important;
}

div.card .contents.main {
	background-color: rgb(199,4,4);
	background-image: linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -o-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
}

div.card .contents.positioning {
	background-color: rgb(8,110,199);
	background-image: linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -o-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
}

div.card .contents.support {
	background-color: rgb(6,199,6);
	background-image: linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -o-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
}


div.card .contents.reaction {
	background-color: rgb(199,199,10);
	background-image: linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -o-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
}

div.card .contents .title {
	font-family: "Droid Sans", sans-serif;
	font-weight: 600;
	position: absolute;
	top: 0.7mm;
	left: 4.5mm;
	width: 46mm;
	height: 8mm;
	display: block;
	padding: 0mm;
	margin: 0mm;
	border-radius:3mm;
	border: 0.75mm solid black;
	background-color: whitesmoke;
	text-align: center;
	font-size: 4.5mm;
	line-height: 8.5mm;
	background-image: linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -o-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
}

div.card .contents .cardtext {
	font-family: "Droid Serif", serif;
	height: 62mm;
	width: auto;
	border-radius: 3mm;
	border: 0.75mm solid black;
	background-color: white;
	margin: 3mm 1mm 1mm;
	padding: 8mm 2mm 4mm;
	font-size: 9px;
}

div.card.display .contents p {
	font-size: 11px;
	line-height: 13px;
	margin-bottom: 7px;
}

div.card .contents .category {
	font-style: italic;
	font-weight: bold;
	height: 8mm;
}


div.card .contents ul.icons {
	bottom: 8mm;
	position: relative;
	list-style: none;
	margin: 1mm;
	padding: 1mm;
}

div.card .contents .icons li {
	width: 6mm;
	height: 6mm;
	text-align: center;
	line-height: 6.5mm;
	border-radius: 2.2mm;
	border: 0.5mm solid black;
	margin: 1mm;
	background-color: white;
	font-weight: 600;
	font-size: 12px;
	font-family: "Droid Sans", sans-serif;
	color: #333;
}

div.card .icons.left {
	float: left;
	left: 1mm;
}

div.card .icons.left li.action-type {
	width: auto;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 1.5mm;
	padding-right: 1.5mm;
	min-width: 15mm;
	text-align: center;
	background-image: linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -o-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
}


div.card .icons.right {
	right: 1mm;
	float: right;
}

div.card .contents .icons.right li {
	float: right;
}
div.deck {
	/*font-family: 'Expletus Sans', sans-serif;*/
	font-size: 12pt;
	height: 44mm;
	width: 36.5mm;
	position: relative;
	float:left;
	page-break-inside: avoid;
}

div.deck .contents {
	position: absolute;
	margin: 2mm 2mm 2mm;
	border-radius: 1.5mm;
	border: 0.5mm solid black;
	box-shadow:	2px 2px 5px #333;
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	transition: all .15s ease-out;
	background-image: url("/static/d12/media/pineapplecut.png");
}


div.deck.display .contents {
	height: 42mm;
	width: 29.5mm;
}

div.deck.edit .contents {
	height: 48mm;
	width: 88.5mm;
	top: -2mm;
	left: -26mm;
	background: white;
}

div.deck.edit .contents {
	padding: 3mm;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
}

div.deck.edit.scale .contents {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}

div.deck .contents .title {
	position: absolute;
	top: 31mm;
	left: 2mm;
	width: 25mm;
	height: 6mm;
	text-align: center;
	font-size: 8pt;
	font-style: italic;
	color: #666;
}

div.deck .number-of-cards {
	position: absolute;
	top: 17mm;
	width: 100%;
	font-size: 17mm;
	text-align: center;
	opacity: 0.2;
}

div.relative {
	position: relative;
}

div.fixed {
	position: fixed;
}

div.card textarea {
	height: 40mm;
}
div.sidebar {
	width: 88px;
}
div.trash {
	width: 84px;
	height: 84px;
	background-image: url("/static/d12/media/trash.png");
}

div.trash.drophover {
	background-image: url("/static/d12/media/trash_glow.png") !important;
}

div.login {
	margin-top:80px;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	.topbar { position: absolute !important; }
	.fixed {position: inherit !important;}
}