/*@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:400,700,400italic,700italic);*/

body {
	padding-top: 60px;
}

.messages {
	height: 50px;
}
*[data-attribute-edit] {
	display: none;
}


.clickable {
	cursor: pointer;
}

.clickable:hover {
	text-shadow: 0 0 0.6mm yellow;
}

.websymbol {
	font-family: 'WebSymbolsRegular';
}

.placeholder {
	color: grey;
	font-style: italic;	
}

div.card-sheet {
	position: relative;
}

div.card {
	/*font-family: 'Expletus Sans', sans-serif;*/
	font-size: 12pt;
	height: 88mm;
	width: 63mm;
	position: relative;
	float:left;
}

div.card .showDelete {
	display: none;
	position: absolute;
	top: -1.5mm;
	left: -1.5mm;
	color: #911;
	width: 6mm;
	height: 6mm;
	border: 2px solid #911;
	border-radius: 5mm;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	background-color: pink;
	box-shadow: 2px 2px 5px black;
}

div.card:hover .showDelete {
	display: block;
	font-weight: bold;
	text-shadow: none;
}

div.card .contents {
	margin: 2mm 2mm 2mm;
	height: 84mm;
	width: 59mm;
	border-radius: 3mm;
	border: 0.75mm solid black;
}

div.card .contents.action {
	background-color: rgb(199,4,4);
	background-image: linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -o-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(117,0,0) 9%, rgb(199,4,4) 41%);
}

div.card .contents.move {
	background-color: rgb(8,110,199);
	background-image: linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -o-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(0,52,115) 9%, rgb(8,110,199) 41%);
}

div.card .contents.support {
	background-color: rgb(6,199,6);
	background-image: linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -o-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(6,115,0) 9%, rgb(6,199,6) 41%);
}


div.card .contents.reaction {
	background-color: rgb(199,199,10);
	background-image: linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -o-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -moz-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
	background-image: -ms-linear-gradient(bottom, rgb(115,115,0) 9%, rgb(199,199,10) 41%);
}

div.card .contents h2 {
	position: absolute;
	top: 3.5mm;
	left: 6.5mm;
	width: 50mm;
	height: 8mm;
	display: block;
	padding: 0mm;
	margin: 0mm;
	border-radius:3mm;
	border: 0.75mm solid black;
	background-color: whitesmoke;
	text-align: center;
	font-size: 12pt;
	line-height: 8.5mm;
	background-image: linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -o-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);

}

div.card .contents .cardtext {
	height: 66mm;
	width: auto;
	border-radius: 3mm;
	border: 0.75mm solid black;
	background-color: white;
	margin: 3mm 1mm 1mm;
	padding: 8mm 2mm 4mm;
}

div.card .contents .cardtext .description {
	font-style: italic;
	height: 10mm;
}


div.card .contents .cardtext .body > textarea, div.card .contents .cardtext .body > div {
	height: 50mm;
}


div.card .contents .cardtext ul.text-list {
	list-style: none;
	font-size: 9pt;
}

div.card .contents .cardtext ul.text-list li {
	margin-top: 2mm;
}

div.card .contents .cardtext .text-list li .label {
	font-weight: bold;
	display: inline;
	margin: 0mm;
	padding: 0mm;
}

div.card .contents .cardtext .text-list li .text {
	display: inline;
	margin: 0mm;
	padding: 0mm;
}


div.card .contents ul.icons {
	bottom: 0mm;
	position: absolute;
	list-style: none;
	margin: 1mm;
	padding: 1mm;
}

div.card .contents .icons li {
	float: left;
	width: 6mm;
	height: 6mm;
	text-align: center;
	line-height: 6.5mm;
	border-radius: 2.2mm;
	border: 0.5mm solid black;
	margin: 1mm;
	background-color: white;
	font-weight: bold;
	font-size: 12pt;
}

div.card .icons.left {
	left: 4mm;
}

div.card .icons.left li.action-type {
	width: auto;
	color: #333;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 1.5mm;
	padding-right: 1.5mm;
	min-width: 15mm;
	text-align: center;
	background-image: linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -o-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -moz-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
	background-image: -ms-linear-gradient(bottom, rgb(212,210,212) 7%, rgb(242,242,242) 70%);
}


div.card .icons.right {
	left: 32mm;
	width: 36mm;
}

div.card .icons.right li.phase {
	background-color: #e5e5e5;
	border-color: #7f7f7f;
	color: #cbcbcb;
}

div.card .icons.right li.phase.enabled {
	background-color: #abe57a;
	border-color: black;
	color: black;	
}


div.card input, div.card textarea {
	width: 50mm;
}

div.card h2 input {
	width: 40mm
}

div.login {
	margin-top:80px;
}