{% extends "base.html" %}
{% load url from future %}

{% block content %}
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">d12app</a>
        </div>
      </div>
    </div>

<div class="container login">
		<div class="row">
			<div class="span6 offset3 messages">
				{% if form.errors %}
					<div class="alert warning">Your username and password didn't match. Please try again.</div>
				{% endif %}
			</div>
		</div>	<div class="row">
		<div class="span6 offset3">
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal">
			{% csrf_token %}
				<legend>d12app login</legend>
				<fieldset class="control-group">
					    <label class="control-label">{{ form.username.label }}</label>
					    <div class="controls">{{ form.username }}</div>
				</fieldset>
				<fieldset class="control-group">
					    <label class="controls-label">{{ form.password.label }}</label>
					    <div class="controls">{{ form.password }}</div>
				</fieldset>
				<fieldset class="form-actions">
					<input type="submit" class="btn primary right" value="Login" />
				</fieldset>
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>
	</div>
</div>

	<script>
		$(document).ready(function(){
			$("#id_username").focus();
		});
	</script>

{% endblock %}
